#gridcontainer {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    justify-content: center;
}

.square {
    border-radius: 3px;
    border-color: aqua;
    border-style: solid;
    padding-bottom: 100%;
}